<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>

     {% include "index.html" %}
    <div id="content">
        {% block content %}
            <!-- Default content or empty -->
             <p>
                form inside of base.html
             </p>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2026 base page .
        {% endblock %}
    </div>
</body>
</html>
